In [2]:
import pandas as pd
import numpy as np
import regex as re

In [3]:
df=pd.read_excel('C:\\Users\\Yusif\\Downloads\\data_cleaning.xlsx','Usage', header=None)
df=pd.DataFrame(df)
df[0].iloc[8700:8736]

8700               __1PM  29-Aug-2014__0.461  kwh
8701            6PM  Sun 05-Oct-2014____1.026kwh
8702     __8AM  Tuesday 12-Aug-2014__0.485  kwh
8703       _2 AM  Saturday 20-Sep-2014_0.216  kwh
8704                  _12 AM 27-Aug-2014_0.389kwh
8705            _4AM   20-May-2014____0.182 kwh
8706        4 PM  Tue 21st-Oct-2014____0.262  kwh
8707             _5 AM   3rd-Nov-2014___0.45  kwh
8708            _10PM   24-Jul-2014____1.272  kwh
8709         __7 AM Wed 24th-Sep-2014____0.743kwh
8710       __11AM  Thu 11th-Sep-2014___0.406  kwh
8711                 __7 AM 05-Jan-2014_2.64kwh
8712               __5PM  27-Aug-2014___1.31  kwh
8713          5PM Sun 30th-Nov-2014____0.344 kwh
8714             __2 PM 10th-Apr-2014_0.131  kwh
8715              11AM   3rd-Aug-2014____0.828kwh
8716                 3PM Wed 3-Dec-2014__0.427kwh
8717          7AM   Tue 17th-Jun-2014__1.474  kwh
8718        _4PM   Monday 5-May-2014____0.269kwh
8719            _3AM  Tue 7th-Jan-2014_0.44  kwh
8720     __12 AM Sunday 21-Dec-2014____0.924 kwh
8721              _6AM 23rd-Apr-2014_0.385  kwh
8722            _4 AM   22nd-Feb-2014___0.40kwh
8723                __8PM  27th-Aug-2014_2.112kwh
8724     __11 PM Sat 13th-Sep-2014____0.637  kwh
8725         __9AM Sat 29-Mar-2014____0.806  kwh
8726              _3 AM 27th-Dec-2014___0.396kwh
8727      2AM  Monday 17-Nov-2014____0.094  kwh
8728         __8 AM  21st-Dec-2014____1.544  kwh
8729       _10PM  Sat 8th-Feb-2014___0.403  kwh
8730         __10AM  30th-Aug-2014____0.626  kwh
8731          __1PM   Sun 23-Feb-2014__0.749kwh
8732        _6AM Friday 24-Jan-2014___2.208 kwh
8733                 12 AM  5-Jan-2014___1.904kwh
8734        __12AM  Sat 09-Aug-2014____1.123kwh
8735       __5AM Thursday 10-Apr-2014___0.363kwh
Name: 0, dtype: object

In [4]:
df[0] = df[0].str.replace(
    r'(sunday|monday|tuesday|wednesday|thursday|friday|saturday|Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|ne|uay|sday|day|sun|mon|tue|wed|thu|fri|sat|Sun|Mon|Tue|Wed|Thu|Fri|Sat|st|nd|rd|th|_|__|___|  | )', 
    '', 
    regex=True
)
pattern = r'(\d+(?:AM|PM))(\d{1,2}-\w{3}-\d{4})(\d+\.\d+)kwh'

def extract_usage_info(row):
    match = re.search(pattern, row)
    if match:
        return match.group(1), match.group(2), match.group(3),
    else:
        return None, None, None,

In [5]:
df[['Time','Date', 'kWh']] = df[0].apply(extract_usage_info).apply(pd.Series)
df[['Hour', 'AM/PM']] = df['Time'].str.extract(r'(\d+)\s*(AM|PM)', expand=True)
df[['Day', 'Month','Year']] = df['Date'].str.extract(r'(\d+)-(\w+)-(\d+)', expand=True)
df

,0,Time,Date,kWh,Hour,AM/PM,Day,Month,Year
0,3PM24-Mar-20140.384kwh,3PM,24-Mar-2014,0.384,3,PM,24,Mar,2014
1,5AM15-Aug-20141.201kwh,5AM,15-Aug-2014,1.201,5,AM,15,Aug,2014
2,8PM20-Mar-20141.523kwh,8PM,20-Mar-2014,1.523,8,PM,20,Mar,2014
3,6PM23-Apr-20140.424kwh,6PM,23-Apr-2014,0.424,6,PM,23,Apr,2014
4,1AM19-Dec-20140.209kwh,1AM,19-Dec-2014,0.209,1,AM,19,Dec,2014
...,...,...,...,...,...,...,...,...,...
8755,1AM07-Nov-20140.084kwh,1AM,07-Nov-2014,0.084,1,AM,07,Nov,2014
8756,6AM20-May-20141.027kwh,6AM,20-May-2014,1.027,6,AM,20,May,2014
8757,2AM8-Apr-20140.052kwh,2AM,8-Apr-2014,0.052,2,AM,8,Apr,2014
8758,9PM27-Jan-20141.428kwh,9PM,27-Jan-2014,1.428,9,PM,27,Jan,2014
8759,12PM25-Aug-20140.528kwh,12PM,25-Aug-2014,0.528,12,PM,25,Aug,2014

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y')
df['kWh']=df['kWh'].astype(np.float64)
df['Day']=df['Day'].astype(np.float64)
df['Year']=df['Year'].astype(np.float64)
df['Hour']=df['Hour'].astype(np.float64)
df.info()
df.tail(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8760 non-null   object
 1   Time    8760 non-null   object
 2   Date    8760 non-null   datetime64[ns]
 3   kWh     8760 non-null   float64
 4   Hour    8760 non-null   float64
 5   AM/PM   8760 non-null   object
 6   Day     8760 non-null   float64
 7   Month   8760 non-null   object
 8   Year    8760 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 616.1+ KB

,0,Time,Date,kWh,Hour,AM/PM,Day,Month,Year
8660,11AM13-Jan-20141.02kwh,11AM,2014-01-13,1.020,11.0,AM,13.0,Jan,2014.0
8661,6PM26-Nov-20140.636kwh,6PM,2014-11-26,0.636,6.0,PM,26.0,Nov,2014.0
8662,3PM27-May-20140.368kwh,3PM,2014-05-27,0.368,3.0,PM,27.0,May,2014.0
8663,10PM6-Jul-20141.20kwh,10PM,2014-07-06,1.200,10.0,PM,6.0,Jul,2014.0
8664,9AM30-Nov-20140.405kwh,9AM,2014-11-30,0.405,9.0,AM,30.0,Nov,2014.0
...,...,...,...,...,...,...,...,...,...
8755,1AM07-Nov-20140.084kwh,1AM,2014-11-07,0.084,1.0,AM,7.0,Nov,2014.0
8756,6AM20-May-20141.027kwh,6AM,2014-05-20,1.027,6.0,AM,20.0,May,2014.0
8757,2AM8-Apr-20140.052kwh,2AM,2014-04-08,0.052,2.0,AM,8.0,Apr,2014.0
8758,9PM27-Jan-20141.428kwh,9PM,2014-01-27,1.428,9.0,PM,27.0,Jan,2014.0
8759,12PM25-Aug-20140.528kwh,12PM,2014-08-25,0.528,12.0,PM,25.0,Aug,2014.0

In [7]:
df.isna().sum()

0        0
Time     0
Date     0
kWh      0
Hour     0
AM/PM    0
Day      0
Month    0
Year     0
dtype: int64

In [8]:
df1= df.drop([0],axis=1)
df1['Weekday']=df1['Date'].dt.day_name()
df1

      Time       Date    kWh  Hour AM/PM   Day Month    Year    Weekday
0      3PM 2014-03-24  0.384   3.0    PM  24.0   Mar  2014.0     Monday
1      5AM 2014-08-15  1.201   5.0    AM  15.0   Aug  2014.0     Friday
2      8PM 2014-03-20  1.523   8.0    PM  20.0   Mar  2014.0   Thursday
3      6PM 2014-04-23  0.424   6.0    PM  23.0   Apr  2014.0  Wednesday
4      1AM 2014-12-19  0.209   1.0    AM  19.0   Dec  2014.0     Friday
...    ...        ...    ...   ...   ...   ...   ...     ...        ...
8755   1AM 2014-11-07  0.084   1.0    AM   7.0   Nov  2014.0     Friday
8756   6AM 2014-05-20  1.027   6.0    AM  20.0   May  2014.0    Tuesday
8757   2AM 2014-04-08  0.052   2.0    AM   8.0   Apr  2014.0    Tuesday
8758   9PM 2014-01-27  1.428   9.0    PM  27.0   Jan  2014.0     Monday
8759  12PM 2014-08-25  0.528  12.0    PM  25.0   Aug  2014.0     Monday

[8760 rows x 9 columns]

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     8760 non-null   object
 1   Date     8760 non-null   datetime64[ns]
 2   kWh      8760 non-null   float64
 3   Hour     8760 non-null   float64
 4   AM/PM    8760 non-null   object
 5   Day      8760 non-null   float64
 6   Month    8760 non-null   object
 7   Year     8760 non-null   float64
 8   Weekday  8760 non-null   object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 616.1+ KB

In [10]:
tariff=pd.read_excel('C:\\Users\\Yusif\\Downloads\\data_cleaning.xlsx', sheet_name='Contracts', 
                     usecols = "A:C, E:G, I:K",  header = 0, keep_default_na=False, skiprows=10)
tariff=pd.DataFrame(tariff)
tariff

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,,,,,,,,,
1,Flat Rate,0.21,$/kWh,January,0.2,$/kWh,12AM until 1AM,0.1,$/kWh
2,,,,February,0.19,$/kWh,1AM until 2AM,0.1,$/kWh
3,,,,March,0.17,$/kWh,2AM until 3AM,0.1,$/kWh
4,,,,April,0.18,$/kWh,3AM until 4AM,0.1,$/kWh
5,,,,May,0.22,$/kWh,4AM until 5AM,0.15,$/kWh
6,,,,June,0.27,$/kWh,5AM until 6AM,0.2,$/kWh
7,,,,July,0.24,$/kWh,6AM until 7AM,0.24,$/kWh
8,,,,August,0.19,$/kWh,7AM until 8AM,0.24,$/kWh
9,,,,September,0.18,$/kWh,8AM until 9AM,0.26,$/kWh
10,,,,October,0.15,$/kWh,9AM until 10AM,0.2,$/kWh
11,,,,November,0.14,$/kWh,10AM until 11AM,0.2,$/kWh
12,,,,December,0.19,$/kWh,11AM until 12PM,0.26,$/kWh
13,,,,,,,12PM until 1PM,0.26,$/kWh
14,,,,,,,1PM until 2PM,0.2,$/kWh
15,,,,,,,2PM until 3PM,0.24,$/kWh
16,,,,,,,3PM until 4PM,0.18,$/kWh
17,,,,,,,4PM until 5PM,0.15,$/kWh
18,,,,,,,5PM until 6PM,0.3,$/kWh
19,,,,,,,6PM until 7PM,0.24,$/kWh
20,,,,,,,7PM until 8PM,0.24,$/kWh
21,,,,,,,8PM until 9PM,0.12,$/kWh
22,,,,,,,9PM until 10PM,0.11,$/kWh
23,,,,,,,10PM until 11PM,0.1,$/kWh
24,,,,,,,11PM until 12AM,0.1,$/kWh

### Question 1
What is your average hourly electricity usage?

In [12]:
df1['kWh'].mean()

0.7817481735159817

### Question 2 
What is your average electricity usage per hour in February?

In [14]:
df1.groupby('Month')['kWh'].mean().sort_values()
#0.83

Month
Apr    0.210355
Nov    0.322806
Oct    0.421665
Sep    0.485011
May    0.560987
Mar    0.566562
Dec    0.763689
Feb    0.833735
Aug    0.852304
Jun    1.255096
Jan    1.401425
Jul    1.687300
Name: kWh, dtype: float64

### Question 3
Which day of the week has the
highestaverage usage?

In [40]:
df1.groupby('Weekday')['kWh'].mean().sort_values()
#sunday

Weekday
Tuesday      0.724843
Monday       0.725894
Wednesday    0.733699
Thursday     0.746375
Friday       0.753666
Saturday     0.890300
Sunday       0.898601
Name: kWh, dtype: float64

### Question 4
What is the highest amount of
electricityused in a continuous 4 hour
period?

In [34]:
df1['kWh'].rolling(4).sum().max()

10.593999999999996

### Question 5
Based on your historic electricity usage,
what would your annual cost of
electricitybe under the "Monthly Flex"
contract?

In [188]:
month = list(tariff.loc[1:12, 'Monthly Flex'])
cost = list(tariff.loc[1:12, 'Unnamed: 5'])
monthly_usage = df.groupby('Month')['kWh'].sum()
monthly_usage

Month
Apr     151.666
Aug     635.819
Dec     568.948
Feb     559.436
Jan    1042.660
Jul    1255.351
Jun     899.904
Mar     422.655
May     416.813
Nov     232.420
Oct     313.719
Sep     348.723
Name: kWh, dtype: float64

In [212]:
monthly_cost = cost * monthly_usage
Monthly_Flex = sum(monthly_cost)
print('The answer is :', Monthly_Flex)

The answer is 1433.2372

### Question 6
Based on your historic electricity
usage, which of the three contracts
would pro- duce the lowest annual
cost?


a.The No Flex plan

b. The Monthly Flex plan

c. The Hourly Flex plan

d. Impossible to Determine

In [101]:
#a.The No Flex plan
noflex_cost = (df['kWh'].sum())*0.21
noflex_cost

1438.10394

In [194]:
#b. The Monthly Flex plan
Monthly_Flex

1433.2372

In [206]:
#c. The Hourly Flex plan  correct answer
hourly_usage = df1.groupby(['AM/PM','Hour'])['kWh'].sum()
hourly_tariff = list(tariff.loc[1:24, 'Unnamed: 9'])
hourly_flex=sum(hourly_tariff*hourly_usage)
hourly_flex

1389.35486